@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background-image: url('/images/bg_image.png'); /* Set the background image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; /* Keeps the background fixed */
  color: white; /* Text color for readability */
  background-color: rgba(0, 0, 0, 0.4); /* This creates an overlay effect */
  background-blend-mode: overlay;
  min-height: 100vh;
}
